.nav-item {
	padding-left: 10%;
	padding-right: 10%;
}

.navbar-nav {
	height: 100%;
}

.nav-link {
	color: black;
}

.nav-link {
	display: inline-block;
	width: 100%;
	height: 100%;
}

#nav-active {
	border-radius:5px;
}

.nav-active {
	border-radius:5px;
}

#angebote {
	padding-top: 15%;
}

.catitem-container {
	padding-bottom: 2%;
}

.catitem-label {
	text-align: center;
	color: black;
	text-decoration: none;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	height: 10%;
	width: 10%;
	filter : invert(100%);
}

.carousel-indicators {
	filter : invert(100%);
}

#offers {
	text-align:center;
}

.footer {
	text-align: center;
}

.footer .row {
	padding-top: 1%;
}

#login{ margin-left:auto;
		margin-top:5%;
		margin-bottom:5%;
		padding:2%;
		border:1px solid black;
		width:75%;
		border-radius:5px;
		}
		
#new-user-button{
		margin-top:5%;
}

#new-user-link{
		text-decoration:none;
}
		
.overview{ 
		margin-left:auto;
		margin-top:2%;
		margin-bottom:1%;
		padding:2%;
		border:1px solid black;
		width:75%;
		border-radius:5px;
		}
		
.overview-price{
		font-size:180%;
}

#noorder{ 
		text-align:center;
		margin:15%
		}
		
#checkout-formular{
		border:2px solid grey; 
		border-radius:5px;
		}
		
.checkout-row{
		margin-bottom:2%;
}

#checkout-button{
		margin-bottom:2%;
}
#createuser-formular{
		border:2px solid grey; 
		border-radius:5px;
		margin-top:3%;
		}
		
#createuser-row{
		margin-bottom:2%;
}

#createuser-button{
		margin-bottom:2%;
}

#category-heading{
		text-align:center;
}

.category-container{
		border-radius:5px;
		border:1px solid black;
		margin-bottom:2%;
}
.order-history{ margin-left:auto;
		margin-top:3%;
		margin-bottom:5%;
		padding:2%;
		border:1px solid black;
		width:95%;
		border-radius:5px;
		}